<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<!-- <script src="http://cdn.bootcss.com/vue/1.0.28/vue.js"></script> -->
<script src="http://cdn.bootcss.com/vue/2.0.3/vue.js"></script>
<div id="app">
    1，起步：
    {{ message }}
    <br/>
    2，双向绑定：
    <input v-model="message">
    <br/>
    3，列表：
    <ul>
        <li v-for="item in objs_arr">
            {{ item.val }}
        </li>
    </ul>
    4,处理用户输入(输入后按enter)，v-for,
    <br/>
    1.x版本有$index.2.x版本不存在$index
    <br/>
    <!--
    <input v-model="user_input" v-on:keyup.enter="add_ul_lis">
    <ul>
      <li v-for="li_item in lis">
        <span>{{ li_item.val }}--{{li_item.$index}}</span>
        <button v-on:click="remove_li($index)">X</button>
      </li>
    </ul>
    -->
    <br/>
    4.1 v-for循环数组 <br/>
    2.x版本只能使用v-for="(item,index) in array"
    <br/>
    <input v-model="user_input" v-on:keyup.enter="add_ul_lis">
    <ul>
        <li v-for="item in lis">
            <span>{{ item.val }}</span>
            <button v-on:click="click_item(index)">1.X版本</button>
        </li>
    </ul>
    <hr/>
    <ul>
        <li v-for="(item,index) in lis">
            <span>{{ item.val }}--{{index}}</span>
            <button v-on:click="remove_li(index)">X</button>
        </li>
    </ul>
    4.2 v-for循环对象 <br/>
    <ul>
        <li v-for="(value, key, index) in for_obj">
            {{ index }}-{{ key }} -{{ value }}
        </li>
    </ul>
    4.3 v-for循环整数 <br/>
    <div>
        <span v-for="n in 10">{{ n }}</span>

    </div>
    4.3.0 ：注意：当前的v-html的变量n 是从当前标签v-for指令上的，一个标签可以多个vue属性同时存在。非父标签上
        <template v-for="n in 2">
            <div :class="'cls-'+n" v-html='n' v-for="n in 3"></div> 
        </template>
    4.3.1 ：错误：Uncaught RangeError: Invalid array length。 v-for循环整数（不能为小数） <br/>
    <pre>
        <span>v-for="n in 5.5"</span>
    </pre>
    4.4 table<br/>
        <table class="table" border='1'>
            <tr v-for="book in books">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>
            </tr>
        </table>
    4.4.1rowspan 2次循环tr，不能将v-for放在tr标签上，一个放在template上，一个放tr上
        多个人，
        <table class="table" border='1'>
            <thead>
            <tr>
                <td>人</td>
                <td>水果</td>
                <td>个数</td>
            </tr>
            </thead>
            <tbody>
                <template v-for="p in rowspan_table" >
                    <tr v-for="(friut,index) in p.friuts">
                        <td v-if="!index" :rowspan="p.friuts.length">{{p.name}}</td>
                        <td>{{friut.name}}</td>
                        <td>{{friut.count}}</td>
                    </tr>
                </template>
            </tbody>
        </table>
   

    <!--  4.3 v-attr自定义属性 <br/>
    :rowspan="bianliang"
     <div>
        <div v-attr="ss:self_define_attr"></div>
     </div> -->
    5 :src图片路径 <br/>
     <pre>
     一下2中方式不正确，不要用{{}}
     <img>src="" {{pic_src}}
     <img>v-bind:src="" {{pic_src}}
     </pre>
    <div>
        <img :src="pic_src" alt="ddd" style="width:500px;height:300px;">
    </div>
    6 ：radio change事件(非click)<br/>
    <div>
        <input type="radio" id="one" @change="changepicked" value="1" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" @change="changepicked" value="2" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    7 ：filters全局过滤器&实例组件内部过滤器
    <div>
        {{'aaa'| stitching('bbb')}}
        {{3|add4}}
        {{objarr | att_sum('sex')}}
    </div>
    7 ：select
        <select v-model="selected">
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    5组件：HTML （特性）不区分大小写。

<br/>

<ul>
    <self-compoment-detective ></self-compoment-detective>
</ul>
<h4> 8：Vue 不允许在已经创建的实例上动态添加新的根级响应式属性（root-level reactive properties）。
然而它可以使用 Vue.set(object, key, value) 方法将响应属性添加到嵌套的对象上：
vue.set(instance.dataObj,'attr',value)</h4>
<br/>
{{obj_existed.oldAttr}}
{{obj_existed.newAttr1}}
{{obj_existed.newAttr2}}
<button @click="addNewAttrForExitObj">实例内部添加的：为已经存在data的对象添加属性22</button>
</div>



<div id="app-02">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">颠倒一下</button>
</div>
<script>
    // 全局定义一个过滤器,要在vue实例之前定义
    Vue.filter('stitching', function (str, strparam) {
        debugger
        return str + strparam;
    })

    // 初始化根实例 之前 注册了组件
    Vue.component('self-compoment-detective', {
        template: '<div>A custom component!</div>'
    })

  let instance=  new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            objs_arr: [{val: 'aaa'}, {val: 'bbb'}, {val: 'ccc'}],
            user_input: '',
            lis: [],
            for_obj: {
                FirstName: 'foo',
                LastName: 'bar',
                Age: 26
            },
            books: [{
                id: 1,
                author: '曹雪芹',
                name: '红楼梦',
                price: 32.0
            }, {
                id: 2,
                author: '施耐庵',
                name: '水浒传',
                price: 30.0
            }],
            main_data_prop: [
                {val: "页面网组件传的值,组件已经使用v-bind:属性="},
                {val: "页面网组件传的值,组件已经使用v-bind:属性="},
                {val: "页面网组件传的值,组件已经使用v-bind:属性="}
            ],
            self_define_attr: "sssss",
            pic_src: "http://images.cnblogs.com/cnblogs_com/leee/801892/o_like.png",
            picked: "",
            objarr: [{sex: 5}, {sex: 4}, {sex: 3}, {sex: 2}, {sex: 1}],
            rowspan_table:[
                {name:'Tom',friuts:[{name:'苹果',count:5},{name:'香蕉',count:8}]},
                {name:'like',friuts:[{name:'苹果',count:6},{name:'香蕉',count:9},{name:'柚子',count:10}]},
                {name:'Kit',friuts:[{name:'苹果',count:4},{name:'香蕉',count:10},{name:'桃子',count:6},{name:'榴莲',count:1}]}
            ],
            obj_existed:{
                oldAttr:"原有的数据"
            },
            selected:"B"
        },
        methods: {
            add_ul_lis: function () {
                // debugger
                // console.log(arguments);
                // console.log(this);
                var text = this.user_input;
                //!!text?this.lis.push({val:text}):"";
                if (text) {
                    this.lis.push({val: text});
                    this.user_input = "";
                }
            },
            click_item(){
                alert("g根据我的实验，2.x版本不存在$index,使用(item，index)in array")
            },
            remove_li: function (index) {
                //1.x版本有$index.2.x版本不存在$index
                this.lis.splice(index, 1);
            },
            changepicked(){
                alert('this.picked-----' + this.picked + '------radio的change事件，并非click')
            },
            addNewAttrForExitObj(){
                 Vue.set(instance.obj_existed,'newAttr2','实例内部添加的新加入的属性22222');
            }
        },
        filters: {
            add4: function (value) {
                return value + 4;
            },
            att_sum: function (value, attr) {
                debugger
                let temp = 0;
                value.forEach(function (item) {
                    temp += item[attr];
                })
                return temp;
            }
        }
    })
    // vue实例之后定义无效
    // Vue.filter('stitching',function(str,strparam){
    //     debugger
    //     return str+strparam;
    // })

    //实例外部添加
    Vue.set(instance.obj_existed,'newAttr1','实例外部添加的新加入的属性1111111111');

    var app2 = new Vue({
        el: '#app-02',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
</script>
</body>
</html>


