<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="root">
        <input v-model="a" :id="id" />123 {{a}}
        <input v-model="a" />
        <input v-model="b" />
        <input v-model="b" />
        
        <input v-model="c" />
        <!-- {{c}}
        <input v-model="d" /> -->
        <button @click="fn">点击</button>
    </div>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script>
        var instance = new Vue({
            el: "#root",
            data: {
                a: 1,
                b: 2,
                id: 'input1'
            },
            methods: {
                fn() {
                    console.log(this.a)
                }
            },
            computed: {
                c:{
                   get(){
                    return this.a + this.b
                    },
                    set(val){
                        debugger
                        this.a=val
                    }
                },
                d(){
                    return this.a+this.c
                }
            },
            watch: {
                a: function (val, old) {
                    debugger
                    console.log(`a->haschanged,${old}-->${val}`)
                }
            }
        })
        console.log(instance)
    </script>
</body>

</html>