<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<!-- <script src="http://cdn.bootcss.com/vue/1.0.28/vue.js"></script> -->
<script src="http://cdn.bootcss.com/vue/2.0.3/vue.js"></script>
<div id="app">
    1，起步：
    {{ message }}
    <br/>
    2，双向绑定：
    <input v-model="message">
    <br/>
    3，列表：
    <ul>
        <li v-for="item in objs_arr">
            {{ item.val }}
        </li>
    </ul>
    4,处理用户输入(输入后按enter)，v-for,
    <br/>
    1.x版本有$index.2.x版本不存在$index
    <br/>
    <!--
    <input v-model="user_input" v-on:keyup.enter="add_ul_lis">
    <ul>
      <li v-for="li_item in lis">
        <span>{{ li_item.val }}--{{li_item.$index}}</span>
        <button v-on:click="remove_li($index)">X</button>
      </li>
    </ul>
    -->
    <br/>
    4.1 v-for循环数组 <br/>
    2.x版本只能使用v-for="(item,index) in array"
    <br/>
    <input v-model="user_input" v-on:keyup.enter="add_ul_lis">
    <ul>
        <li v-for="item in lis">
            <span>{{ item.val }}</span>
            <button v-on:click="click_item(index)">1.X版本</button>
        </li>
    </ul>
    <hr/>
    <ul>
        <li v-for="(item,index) in lis">
            <span>{{ item.val }}--{{index}}</span>
            <button v-on:click="remove_li(index)">X</button>
        </li>
    </ul>
    4.2 v-for循环对象 <br/>
    <ul>
        <li v-for="(value, key, index) in for_obj">
            {{ index }}-{{ key }} -{{ value }}
        </li>
    </ul>
    4.3 v-for循环整数 <br/>
    <div>
        <span v-for="n in 10">{{ n }}</span>
    </div>
   <!--  4.3 v-attr自定义属性 <br/>
    <div>
       <div v-attr="ss:self_define_attr"></div>
    </div> -->
     4.5 :src图片路径 <br/>
     <pre>
     一下2中方式不正确，不要用{{}}
     <img >src="" {{pic_src}}
     <img >v-bind:src="" {{pic_src}}
     </pre>
    <div>
       <img :src="pic_src" alt="ddd" style="width:500px;height:300px;">
    </div>
    
</div>

5用组件构建（应用）
<br/>

<ul>
    <self-compoment-detective v-for="",v-bind:myprop="main_data_prop"></self-compoment-detective>
</ul>

<div id="app-02">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">颠倒一下</button>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            objs_arr: [{val: 'aaa'}, {val: 'bbb'}, {val: 'ccc'}],
            user_input: '',
            lis: [],
            for_obj: {
                FirstName: 'foo',
                LastName: 'bar',
                Age: 26
            },
            main_data_prop:[
                {val:"页面网组件传的值,组件已经使用v-bind:属性="},
                {val:"页面网组件传的值,组件已经使用v-bind:属性="},
                {val:"页面网组件传的值,组件已经使用v-bind:属性="}
            ],
            self_define_attr:"sssss",
            pic_src:"http://images.cnblogs.com/cnblogs_com/leee/801892/o_like.png"
        },
        methods: {
            add_ul_lis: function () {
                // debugger
                // console.log(arguments);
                // console.log(this);
                var text = this.user_input;
                //!!text?this.lis.push({val:text}):"";
                if (text) {
                    this.lis.push({val: text});
                    this.user_input = "";
                }
            },
            click_item(){
                alert("g根据我的实验，2.x版本不存在$index,使用(item，index)in array")
            },
            remove_li: function (index) {
                //1.x版本有$index.2.x版本不存在$index
                this.lis.splice(index, 1);
            }
        }
    })

    // Define a new component called todo-item

    Vue.component('self-compoment-detective', {
      props: ['myprop'],
      template: '<li>{{ myprop.val }}</li>'
    })

    var app2 = new Vue({
        el: '#app-02',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
</script>
</body>
</html>


